{#https://realpython.com/primer-on-jinja-templating/#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Website for learning Flask and deployment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>

{#fix this#}