{% extends 'bootstrap/base.html' %}

{% block title %}Website for learning Flask and deployment{% endblock %}

{% block content %}
    <div class="container">

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
